@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;500;600;700&display=swap");

body {
  width: 340px;
  font-family: "Advent Pro", sans-serif;
  border: 1px solid black;
}

h1 {
  font-size: 23px;
  font-weight: 900;
}
h2 {
  font-size: 20px;
  font-weight: 600;
}
span {
  opacity: 0.4;
}
p {
  opacity: 0.4;
}

.header {
  background-color: #e0cc15;
  padding: 30px 10px 50px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.header__column span {
  opacity: 1;
}

.search {
  background-color: white;
  padding: 15px 12px;
  margin: 10px;
  position: relative;
  top: -35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  border-radius: 40px;
  box-shadow: 2px 5px 5px rgb(243, 238, 238);
}

.serach__text {
  padding-left: 15px;
  opacity: 0.4;
}

.search i {
  opacity: 0.4;
}

.main__1st {
  position: relative;
  top: -20px;
  margin-left: 15px;
}
.main__1st__column {
  display: flex;
}

.main__1st__column__image {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 10px;
}

.main__1st__column__article {
  display: flex;
  flex-direction: column;
}

div h2 {
  margin-bottom: 10px;
}

.stars-1 {
  margin: 7px 0px 15px 0px;
}
.main__column__detail__buttons {
  display: flex;
}

.main__column__detail__buttons span {
  text-align: center;
  display: block;
  width: 70px;
  padding: 3px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgba(218, 211, 202, 0.5);
  opacity: 1;
  font-weight: 600;
}

.main__column__detail__buttons2 {
  margin-top: 16px;
  display: flex;
}

.main__column__detail__buttons2__bookmark {
  width: 30px;
  height: 30px;
  margin-right: 40px;
  background-color: #e0cc15;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.main__column__detail__buttons2__book-now {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  font-size: 13px;
  color: white;
  background-color: black;
  opacity: 1;
  border-radius: 5px;
}

.main__2nd {
  margin: 20px 0px 10px 15px;
}

.main__2nd__column {
  display: flex;
}

.main__2nd__column__list {
  margin: 0px 7px 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie {
  border-radius: 10px;
}

.stars-2 {
  margin-top: 10px;
}

.main__3rd {
  margin: 20px 0px 10px 15px;
}

.main__3rd__column {
  display: flex;
}
.main__3rd__column__image {
  margin: 15px 20px 10px 15px;
  border-radius: 10px;
}

.main__3rd__column__detail h2 {
  margin: 20px 50px 10px 0px;
}
