@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@500;600;700&display=swap");

@import "screen/list.css";
@import "screen/song.css";

* {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: "Khand", sans-serif;
  color: rgb(71, 81, 92);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: rgb(55, 63, 71);
  font-weight: 700;
  font-size: 25px;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
  color: rgb(182, 190, 199);
  font-size: 11px;
}

span {
  font-weight: 500;
  font-size: 13px;
  color: rgb(182, 190, 199);
}

body > div {
  background-color: white;
  width: 270px;
  height: 580px;
  margin: 30px;
  border-radius: 20px;
}

img {
  border-radius: 15%;
}
