  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main__artist-image {
    border-radius: 50%;
    box-shadow: 0px 2px 20px 3px rgb(169, 187, 206);
    margin-bottom: 25px;
  }
  
  .main__genre {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 13px;
  }
  
  .main__button-cloumn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .main__button-cloumn__shuffle {
    background-color: rgb(71, 80, 90);
    padding: 10px 30px;
    margin-right: 10px;
    color: antiquewhite;
    border-radius: 20px;
    text-align: center;
  }
  
  .main__button-cloumn__like {
    width: 90px;
    padding: 10px 15px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 50px 3px rgb(215, 223, 231);
  }
  
  .main__songs {
    height:215px;
    overflow-y: hidden;
    margin-bottom:10px;
  }
  
  .main__songs:hover{
    overflow-y: scroll;
    cursor:grab;
  }
  
  .main__songs-list__img {
    margin-right: 23px;
  }
  
  .main__songs-list {
    display: flex;
    align-items: center;
    padding: 10px;0px;
  }
  
  .main__songs-list:hover{
    box-shadow: 0px 0px 50px 3px rgb(215, 223, 231);
  }
  
  .main__songs-list__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: ;
    width: 150px;
  }
  
  .main__songs-list:nth-child(2){
    box-shadow: 0px 0px 70px 3px rgb(233, 237, 243);
  }
  
  .main__songs-list__column__artist{
    margin-bottom:3px;
  }
  
  .main__songs-list__column__song{
    font-size: 14px;
  }
  
  .bottom-bar{
    display: flex;
    align-items: center;
    background-color: rgb(55, 63, 71);
    color: rgb(231, 226, 226);
    padding:10px 20px;
    border-radius: 50px;
    margin:0px 10px;
    box-shadow: 0px 0px 50px 3px rgb(191, 195, 201);
  }
  
  .bottom-bar__song-column__artist{
    color:rgb(133, 146, 146);
    font-size:11px;
    margin-bottom: 5px;
  }
  
  .bottom-bar__song-column__song{
    font-size:13px;
  }
  
  .bottom-bar__song-column{
    display: flex; 
    flex-direction: column;
    justify-content: center;
  }
  
  .bottom-bar__play-column{
    margin-left:40px;
    width:70px;
    display: flex;
    justify-content: space-between;
  }